@import url(https://fonts.google.com/specimen/Scheherazade+New);
*{
  /*  margin: 0%;
    padding: 0%; */
    box-sizing: border-box;
    font-family: "Poppins", " sans-serif";
}
body{
    /* display: flex; */
    height: 100vh;
    justify-content: center;
    align-items: center;
  /*  padding: 10px; */
    

}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    
    
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}
.container form .purchaser-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .purchaser-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.purchaser-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.purchaser-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
   /* padding-left: 15px; */
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.purchaser-details .input-box input:focus,
.purchaser-details .input-box input:valid,{

}
form .button{
    height: 45px;
    margin: 45px 0;
    
}
@media(max-width:584px){
    .container{
        max-width: 100%;
    }
    form .purchaser-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .purchaser-details{
        max-width: 300px;
        
    }
    }
.button .color2{
    padding: 15px 40px;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    background-color:#008CBA;
    font-weight: 500;
}